<h1 class="text-center text-primary">OutingTravel</h1>
<article class="container">
    {{#if state.isLoading}}
    <div class="text-center text-muted">loading...</div>{{else}}

    <div>
        {{#each state.categorisedTrips key="@index" as |category|}}
        <trips-block @items={{category.items}} @headingTranslationKey={{category.headingTranslationKey}} /> {{/each}}
    </div>
    {{/if}}
</article>