<div class="grid-post">
    <header>
        <span class="date pull-left">{{@trip.dateStart}} - {{@trip.dateEnd}}</span>       
    </header>
    <figure class="block-img">
        <a href="/trips/36980f2d-f95d-4ea3-8f65-d40f62487d68" id="ember739" class="ember-view">
            <img src="https://assets-cn.outingtravel.com/resized/bf30140c4f14255d6df8b222dfe611a56bfd52522bcea6de549d1e82e2cd6056.default.jpg">
        </a>
    </figure>
    <footer>
        <a href="/users/microsoft-a7eecddce6f2c7d202a1f3f992dcff135a60fb7ef7c26ee7d6083c11eb0ec5a3" id="ember740" class="ember-view">
            <figure class="user-tn">
                <dummy-element id="ember978" class="max-size ember-view">
                    <div class="photo-max max-size" style="background-image: url('https://assets-cn.outingtravel.com/resized/0a195bc5f519264c39e6c3a9ca9d664b61fdb9500908a0aef524b3f28e2e73e0.default.PNG')"></div>
                </dummy-element>
            </figure>
        </a>
        <div class="title-container">
            <h3>AIESEC Project：Project against war</h3>
            <span class="status-square -yellow-background"></span>
        </div>
        <div class="row">
            <div class="col-xs-8 stripped-text">
                <h4>Jaipur</h4>
            </div>
            <div class="col-xs-4">
                <p class="seats">
                    <span>
                        <i class="custom-icon people-icon"></i> 1
                        <span class="-grey">/ 2</span>
                    </span>
                </p>
            </div>
        </div>
    </footer>
</div>